In [1]:
## Problem Set 2
## November 10th, 2022

# Importing the necessary libraries
import pandas as pd
import statsmodels.api as sm

In [9]:
colnames=['mkt_id', 'prod_id', 'prod_share', 'prod_att1', 'prod_att2', 'prod_att3', 'price', 'shifter1', 'shifter2', 'shifter3', 'group'] 
df = pd.read_csv('../data/Data.csv', names=colnames, header=None)

In [10]:
df.head()

,mkt_id,prod_id,prod_share,prod_att1,prod_att2,prod_att3,price,shifter1,shifter2,shifter3,group
0,1,1,0.000203,0.73183,-0.81210,0.478310,7.2379,0.52997,-0.084624,1.00580,3
1,1,2,0.000021,-0.12528,0.38120,-0.993350,6.6680,-1.29360,0.755780,-1.01510,2
2,1,3,0.000069,-0.38789,1.28590,1.455700,7.7439,0.97370,0.998150,2.27140,2
3,1,4,0.003820,-0.69570,1.73850,0.045094,4.6906,-0.26251,-0.029154,-0.66998,1
4,1,5,0.000411,1.61170,0.72081,1.189600,8.2069,1.36030,0.487410,0.39726,3

In [11]:
df.describe()

,mkt_id,prod_id,prod_share,prod_att1,prod_att2,prod_att3,price,shifter1,shifter2,shifter3,group
count,970.000000,970.000000,9.700000e+02,970.000000,970.000000,970.000000,970.000000,970.000000,970.000000,970.000000,970.000000
mean,26.167010,10.430928,1.912517e-02,-0.030330,-0.004903,-0.057823,5.577779,-0.029543,-0.012141,-0.044407,2.010309
std,14.485213,5.990177,6.025534e-02,0.995995,0.999779,1.016903,1.371331,1.007472,0.989332,0.977154,0.818956
min,1.000000,1.000000,3.019000e-07,-2.985200,-3.104500,-4.167300,1.328500,-2.850200,-4.096800,-3.251200,1.000000
25%,14.000000,5.000000,9.976725e-05,-0.706257,-0.682220,-0.706403,4.708150,-0.710245,-0.704515,-0.700940,1.000000
50%,26.500000,10.000000,7.848100e-04,-0.064417,0.042951,-0.068317,5.527950,-0.055330,0.017694,-0.001928,2.000000
75%,39.000000,15.000000,5.950150e-03,0.670627,0.681762,0.620657,6.507125,0.688550,0.695118,0.590225,3.000000
max,50.000000,25.000000,5.582900e-01,2.811000,3.690400,3.231500,10.000000,3.275500,3.681100,3.272600,3.000000